target/
.git/
.gitignore
.idea/
.vscode/
*.iml
*.log
*.tmp
*.swp
.DS_Store

.env
.env.*
application-local.properties
application-dev.properties
application-test.properties

node_modules/
dist/

docker-compose.override.yml