MYSQL_ROOT_PASSWORD=

DB_URL=
DB_USERNAME=authuser
DB_PASSWORD=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=no-reply@authentication.com
MAIL_PASSWORD=

FRONTEND_URL=http://localhost:3000
VERIFICATION_URL=http://localhost:8080/api/auth/verify-email